{% extends 'catalog_app/base.html' %}
{% block content %}
        <div class="container" style="text-align: left">
                <a href="{% url 'catalog_app:product_create' %}" class="btn btn-outline-primary">Создать продукт</a>
        </div>
    {% for object in object_list %}
        {% include 'catalog_app/includes/inc_catalog_app_catalog.html' %}
    {% endfor %}
{% endblock %}
{% block content_1 %}
    <div class="col-6 col-md">
    <h5>Категории</h5>
        {% for obj in category_list %}
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{{ obj.name }}</a></li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}